<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>$(MBX_ACCESS_TOKEN)</string>
	<key>ELEVENLABS_AGENT_ID</key>
	<string>$(ELEVENLABS_AGENT_ID)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Usamos el micrófono para hablar con el asistente de voz del repartidor.</string>
</dict>
</plist>
